RewriteEngine On
RewriteBase /test/

# SEO uyumlu URL'ler için yönlendirme
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Panel URL'leri için yönlendirme
RewriteRule ^panel/(.*)$ panel/$1.php [L,QSA]

# 'index' URL'sini ana sayfaya yönlendirme
RewriteRule ^index/?$ index.php?page=home [L,QSA]

# Diğer SEO uyumlu URL'ler için yönlendirme
RewriteRule ^([^/]+)/?$ index.php?page=$1 [L,QSA]

# Boş URL'yi home route'una yönlendirme
RewriteRule ^$ index.php?page=home [L,QSA]