RewriteEngine On
RewriteBase /

# SEO uyumlu URL'ler için yönlendirme
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Panel URL'leri için yönlendirme
RewriteRule ^panel/(.*)$ /test/panel/$1.php [L,QSA]

# 'index' URL'sini ana sayfaya yönlendirme
RewriteRule ^index/?$ /test/index.php?page=home [L,QSA]

# Diğer SEO uyumlu URL'ler için yönlendirme
RewriteRule ^([^/]+)/?$ /test/index.php?page=$1 [L,QSA]

# Boş URL'yi home route'una yönlendirme
RewriteRule ^$ /test/index.php?page=home [L,QSA]
